.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.box-content {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

input {
  padding: 8px;
  width: 300px;
  margin-bottom: 10px;
}

li {
  margin: 5px 0;
}
